<a href="https://colab.research.google.com/github/bernieee/COURSERA/blob/master/Intro_to_ML/week3_metrics_of_classification_quality.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [47]:
import pandas as pd
import numpy as np
from sklearn.metrics import accuracy_score, recall_score, f1_score, precision_score, roc_auc_score, precision_recall_curve

In [4]:
clf_df = pd.read_csv('classification.csv')
clf_df

     true  pred
0       1     0
1       1     1
2       1     1
3       0     0
4       1     1
..    ...   ...
195     0     0
196     0     0
197     1     0
198     0     1
199     0     0

[200 rows x 2 columns]

In [26]:
clf_df[(clf_df['true'] == 1) & (clf_df['pred'] == 1)]['true'].value_counts()

1    43
Name: true, dtype: int64

In [37]:
TP = int(clf_df[(clf_df['true'] == 1) & (clf_df['pred'] == 1)]['true'].value_counts())
TN = int(clf_df[(clf_df['true'] == 0) & (clf_df['pred'] == 0)]['true'].value_counts())
FP = int(clf_df[(clf_df['true'] == 0) & (clf_df['pred'] == 1)]['true'].value_counts())
FN = int(clf_df[(clf_df['true'] == 1) & (clf_df['pred'] == 0)]['true'].value_counts())

print(TP, FP, FN, TN)

43 34 59 64

In [31]:
true = np.array(clf_df['true'])
pred = np.array(clf_df['pred'])

In [38]:
accuracy = accuracy_score(true, pred)
precision = precision_score(true, pred)
recall = recall_score(true, pred)
f1 = f1_score(true, pred)

print(accuracy, precision, recall, f1)

0.535 0.5584415584415584 0.4215686274509804 0.48044692737430167

In [41]:
score_df = pd.read_csv('scores.csv')
score_df

     true  score_logreg  score_svm  score_knn  score_tree
0       0      0.683832   0.145976   0.787063    0.500000
1       1      0.801966   0.239511   1.000000    0.833333
2       0      0.382315  -0.245701   0.000000    0.000000
3       1      0.506797  -0.137058   0.000000    0.105263
4       1      0.488781  -0.154148   0.000000    0.105263
..    ...           ...        ...        ...         ...
195     0      0.573801  -0.088203   0.284192    0.400000
196     0      0.624422  -0.012315   0.205437    0.400000
197     1      0.425538  -0.135673   0.382351    0.700000
198     0      0.905270   0.583806   1.000000    1.000000
199     0      0.275594  -0.422160   0.743567    0.642857

[200 rows x 5 columns]

In [43]:
true = np.array(score_df['true'])
logreg_pred = np.array(score_df['score_logreg'])
svm_pred = np.array(score_df['score_svm'])
knn_pred = np.array(score_df['score_knn'])
tree_pred = np.array(score_df['score_tree'])

In [46]:
logreg = roc_auc_score(true, logreg_pred)
svm = roc_auc_score(true, svm_pred)
knn = roc_auc_score(true, knn_pred)
tree = roc_auc_score(true, tree_pred)

print(logreg, svm, knn, tree) # logreg_score

0.719187675070028 0.7086834733893557 0.6351540616246498 0.6919267707082833

In [51]:
logreg = precision_recall_curve(true, logreg_pred)
logreg_max_precision = max(logreg[0][logreg[1]>=0.7])

print(logreg_max_precision)

0.6302521008403361

In [52]:
svm = precision_recall_curve(true, svm_pred)
svm_max_precision = max(svm[0][svm[1]>=0.7])

print(svm_max_precision)

0.6228070175438597

In [54]:
knn = precision_recall_curve(true, knn_pred)
knn_max_precision = max(knn[0][knn[1]>=0.7])

print(knn_max_precision)

0.6065573770491803

In [55]:
tree = precision_recall_curve(true, tree_pred)
tree_max_precision = max(tree[0][tree[1]>=0.7])

print(tree_max_precision) # tree_score

0.6517857142857143