<a href="https://colab.research.google.com/github/bernieee/COURSERA/blob/master/Intro_to_ML/week5_random_forest.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [24]:
import numpy as np
import pandas as pd
from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import KFold, cross_val_score
from sklearn.metrics import r2_score

In [7]:
data = pd.read_csv('abalone.csv')
data

     Sex  Length  Diameter  ...  VisceraWeight  ShellWeight  Rings
0      M   0.455     0.365  ...         0.1010       0.1500     15
1      M   0.350     0.265  ...         0.0485       0.0700      7
2      F   0.530     0.420  ...         0.1415       0.2100      9
3      M   0.440     0.365  ...         0.1140       0.1550     10
4      I   0.330     0.255  ...         0.0395       0.0550      7
...   ..     ...       ...  ...            ...          ...    ...
4172   F   0.565     0.450  ...         0.2390       0.2490     11
4173   M   0.590     0.440  ...         0.2145       0.2605     10
4174   M   0.600     0.475  ...         0.2875       0.3080      9
4175   F   0.625     0.485  ...         0.2610       0.2960     10
4176   M   0.710     0.555  ...         0.3765       0.4950     12

[4177 rows x 9 columns]

In [8]:
data['Sex'] = data['Sex'].map(lambda x:1 if x == 'M' else(-1 if x == 'F' else 0))
data

      Sex  Length  Diameter  ...  VisceraWeight  ShellWeight  Rings
0       1   0.455     0.365  ...         0.1010       0.1500     15
1       1   0.350     0.265  ...         0.0485       0.0700      7
2      -1   0.530     0.420  ...         0.1415       0.2100      9
3       1   0.440     0.365  ...         0.1140       0.1550     10
4       0   0.330     0.255  ...         0.0395       0.0550      7
...   ...     ...       ...  ...            ...          ...    ...
4172   -1   0.565     0.450  ...         0.2390       0.2490     11
4173    1   0.590     0.440  ...         0.2145       0.2605     10
4174    1   0.600     0.475  ...         0.2875       0.3080      9
4175   -1   0.625     0.485  ...         0.2610       0.2960     10
4176    1   0.710     0.555  ...         0.3765       0.4950     12

[4177 rows x 9 columns]

In [21]:
features = np.array(data.drop(['Rings'], axis=1))
aim = np.array(data['Rings'])

In [18]:
folds = KFold(n_splits=5, shuffle=True, random_state=1)

In [26]:
best_k = 0

for k in range(1, 51):
    regressor = RandomForestRegressor(n_estimators=k)
    #score = r2_score(y_true, y_pred, cv)
    score = cross_val_score(regressor, features, aim, cv=folds, scoring='r2')
    quality = np.mean(score)

    if quality >= 0.52:
        best_k = k
        break

print(best_k)

23