<a href="https://colab.research.google.com/github/bernieee/COURSERA/blob/master/Intro_to_ML/week2_norm_features_task.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [43]:
import pandas as pd
import numpy as np
from sklearn.linear_model import Perceptron
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import accuracy_score

In [10]:
train_df = pd.read_csv('perceptron-train.csv', header=None)
train_df

       0         1            2
0   -1.0 -0.024626  1174.600238
1    1.0 -0.978058  1083.198803
2   -1.0  0.314272 -1472.977609
3   -1.0  0.179752   231.017267
4    1.0 -1.262544  -778.271726
..   ...       ...          ...
295 -1.0 -0.126438  1861.564124
296 -1.0 -0.490972  1815.652064
297  1.0 -0.375750  -314.074374
298  1.0 -1.861976 -1083.677679
299  1.0 -0.039329 -1863.884299

[300 rows x 3 columns]

In [34]:
test_df = pd.read_csv('perceptron-test.csv', header=None)
test_df

       0         1            2
0   -1.0  1.651437  1337.453826
1    1.0 -0.866495  1191.232457
2   -1.0  0.789828  -475.647768
3   -1.0  0.179549  1959.095353
4    1.0 -0.434351   568.504207
..   ...       ...          ...
195 -1.0  1.150206  2559.850231
196  1.0 -0.732462   159.748695
197  1.0  0.412912 -1587.206427
198 -1.0 -0.098685   682.034777
199  1.0  0.760949 -1577.448794

[200 rows x 3 columns]

In [63]:
train_x, train_y = np.array(train_df.drop([0], axis=1)), np.array(train_df[0])

In [64]:
test_x, test_y = np.array(test_df.drop([0], axis=1)), np.array(test_df[0])

In [65]:
clf = Perceptron(random_state=241)
clf.fit(train_x, train_y)
predictions = clf.predict(test_x)

score = accuracy_score(test_y, predictions)
print(score)

0.655

In [66]:
scaler = StandardScaler()

train_x_scaled, test_x_scaled = scaler.fit_transform(train_x), scaler.transform(test_x)

In [67]:
clf = Perceptron()
clf.fit(train_x_scaled, train_y)
predictions = clf.predict(test_x_scaled)

score_scaled = accuracy_score(test_y, predictions)
print(score_scaled)

0.845

In [68]:
score_scaled - score

0.18999999999999995