<a href="https://colab.research.google.com/github/bernieee/COURSERA/blob/master/Intro_to_ML/week3_logistic_task.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [124]:
import numpy as np
import pandas as pd
from sklearn.metrics import roc_auc_score

In [125]:
data_df = pd.read_csv('data-logistic.csv', header=None)
data_df

     0         1          2
0   -1 -0.663827  -0.138526
1    1  1.994596   2.468025
2   -1 -1.247395   0.749425
3    1  2.309374   1.899836
4    1  0.849143   2.407750
..  ..       ...        ...
200  1  4.245176   3.053931
201  1  2.437935   1.357804
202 -1 -1.876638   1.533398
203  1 -6.824446 -13.934211
204 -1  0.001805   0.865147

[205 rows x 3 columns]

In [188]:
classes = np.asarray(data_df[0])
features = np.asarray(data_df.drop([0], axis=1))

In [261]:
def sigmoid(x):
    return 1. / (1. + np.exp(-x))

def euclid_dist(a, b):
    return np.sqrt(np.square(a[0] - b[0]) + np.square(a[1] - b[1]))

def gradient_decent(x, y, w, k, C, N, eps):
    #w_new = np.asarray([0., 0.])
    for i in range(N):
        #w_new[0] = w[0] + k * np.mean(x[:, 0].T * y * (1 - sigmoid(y * np.dot(x, w)))) - k * C * w[0]
        #w_new[1] = w[1] + k * np.mean(x[:, 1].T * y * (1 - sigmoid(y * np.dot(x, w)))) - k * C * w[1]

        w_new = w + k * np.mean(x.T * y * (1 - sigmoid(y * np.dot(x, w))), axis=1) - k * C * w

        #print(i, w, w_new)
        if euclid_dist(w, w_new) < eps:
            break

        w = w_new
              
    return w_new

def log_reg(x, w):
    return sigmoid(np.dot(x, w))

In [262]:
weights = gradient_decent(features, classes, np.asarray([0.0, 0.0]), 0.1, 10, 10000, 1e-5)
prediction = log_reg(features, weights)

print(weights)

score = roc_auc_score(classes, prediction)
score

[0.02855875 0.02478014]

0.9362857142857142

In [263]:
weights = gradient_decent(features, classes, np.asarray([0.0, 0.0]), 0.1, 0, 10000, 1e-5)
prediction = log_reg(features, weights)

print(weights)

score_0 = roc_auc_score(classes, prediction)
score_0

[0.28781162 0.0919833 ]

0.9268571428571428