<a href="https://colab.research.google.com/github/bernieee/COURSERA/blob/master/Intro_to_ML/week4_linreg.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [24]:
import numpy as np
import pandas as pd
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.feature_extraction import DictVectorizer
from sklearn.linear_model import Ridge
import re
from scipy.sparse import hstack

In [17]:
train_df = pd.read_csv('salary-train.csv')
train_df

                                         FullDescription  ... SalaryNormalized
0      International Sales Manager London ****k  ****...  ...            33000
1      An ideal opportunity for an individual that ha...  ...            50000
2      Online Content and Brand Manager// Luxury Reta...  ...            40000
3      A great local marketleader is seeking a perman...  ...            22500
4      Registered Nurse / RGN  Nursing Home for Young...  ...            20355
...                                                  ...  ...              ...
59995  As a result of continued growth, First Class S...  ...            26400
59996  PHP / MVC Web Developer  MacclesfieldCirca ***...  ...            26000
59997  Staff Nurse, Nursing Home, Baldock White Recru...  ...            24500
59998  This is one of the best agency side opportunit...  ...            65000
59999  Must have CSCS card must have asbestos awarene...  ...            23040

[60000 rows x 4 columns]

In [18]:
for i, text in enumerate(train_df['FullDescription']):
    text_new = re.sub('[^a-zA-Z0-9]', ' ', text.lower())
    train_df['FullDescription'][i] = text_new

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [19]:
train_df

                                         FullDescription  ... SalaryNormalized
0      international sales manager london     k      ...  ...            33000
1      an ideal opportunity for an individual that ha...  ...            50000
2      online content and brand manager   luxury reta...  ...            40000
3      a great local marketleader is seeking a perman...  ...            22500
4      registered nurse   rgn  nursing home for young...  ...            20355
...                                                  ...  ...              ...
59995  as a result of continued growth  first class s...  ...            26400
59996  php   mvc web developer  macclesfieldcirca    ...  ...            26000
59997  staff nurse  nursing home  baldock white recru...  ...            24500
59998  this is one of the best agency side opportunit...  ...            65000
59999  must have cscs card must have asbestos awarene...  ...            23040

[60000 rows x 4 columns]

In [20]:
tfdf = TfidfVectorizer(min_df=5)
train_text = tfdf.fit_transform(train_df['FullDescription'])

In [21]:
train_df['LocationNormalized'].fillna('nan', inplace=True)
train_df['ContractTime'].fillna('nan', inplace=True)

In [22]:
enc = DictVectorizer()

train_features = enc.fit_transform(train_df[['LocationNormalized', 'ContractTime']].to_dict('records'))

In [25]:
train_matrix = hstack([train_text, train_features])

In [26]:
train_matrix

<60000x24627 sparse matrix of type '<class 'numpy.float64'>'
	with 8485759 stored elements in COOrdinate format>

In [27]:
train_aim = train_df['SalaryNormalized']

In [28]:
clf = Ridge(alpha=1)
clf.fit(train_matrix, train_aim)

Ridge(alpha=1, copy_X=True, fit_intercept=True, max_iter=None, normalize=False,
      random_state=None, solver='auto', tol=0.001)

In [29]:
test_df = pd.read_csv('salary-test-mini.csv')
test_df

                                     FullDescription  ... SalaryNormalized
0  We currently have a vacancy for an HR Project ...  ...              NaN
1  A Web developer opportunity has arisen with an...  ...              NaN

[2 rows x 4 columns]

In [30]:
for i, text in enumerate(test_df['FullDescription']):
    text_new = re.sub('[^a-zA-Z0-9]', ' ', text.lower())
    test_df['FullDescription'][i] = text_new

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [31]:
test_df

                                     FullDescription  ... SalaryNormalized
0  we currently have a vacancy for an hr project ...  ...              NaN
1  a web developer opportunity has arisen with an...  ...              NaN

[2 rows x 4 columns]

In [32]:
test_text = tfdf.transform(test_df['FullDescription'])
test_features = enc.transform(test_df[['LocationNormalized', 'ContractTime']].to_dict('records'))
test_matrix = hstack([test_text, test_features])

In [33]:
clf.predict(test_matrix)

array([56575.58558632, 37135.92073248])