<a href="https://colab.research.google.com/github/bernieee/COURSERA/blob/master/Intro_to_ML/week1_pandas_task.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
data = pd.read_csv('titanic.csv', index_col='PassengerId')

In [ ]:
data.head()

             Survived  Pclass  ... Cabin Embarked
PassengerId                    ...
1                   0       3  ...   NaN        S
2                   1       1  ...   C85        C
3                   1       3  ...   NaN        S
4                   1       1  ...  C123        S
5                   0       3  ...   NaN        S

[5 rows x 11 columns]

In [ ]:
# 1
women = data[data["Sex"]=="female"]
men = data[data["Sex"]=="male"]

ans_1_w, ans_1_m = women['Sex'].value_counts(), men['Sex'].value_counts()
print(ans_1_w)
print(ans_1_m)

female    314
Name: Sex, dtype: int64
male    577
Name: Sex, dtype: int64

In [ ]:
# 2
ans_2 = data['Survived'].mean() * 100
print(ans_2)

38.38383838383838

In [ ]:
# 3
first = data[data['Pclass']==1]['Pclass'].value_counts()
all = data['Pclass'].value_counts().sum()

ans_3 = first / all * 100
print(ans_3)

1    24.242424
Name: Pclass, dtype: float64

In [ ]:
# 4
ans_4_mean = data['Age'].mean()
ans_4_median = data['Age'].median()

print(ans_4_mean)
print(ans_4_median)

29.69911764705882
28.0

In [ ]:
# 5
sibsp_parch = data[['SibSp', 'Parch']]

ans_5 = sibsp_parch.corr(method='pearson')
print(ans_5)

          SibSp     Parch
SibSp  1.000000  0.414838
Parch  0.414838  1.000000

In [ ]:
# 6
names_w = data['Name'].where(data['Sex']=='female')
names_w = names_w[names_w['Name'] != 'NaN']

print(names_w)

KeyError: ignored