<a href="https://colab.research.google.com/github/bernieee/COURSERA/blob/master/Intro_to_ML/week3_svm_task.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [9]:
import pandas as pd
import numpy as np
from sklearn.svm import SVC

In [4]:
df = pd.read_csv('svm-data.csv', header=None)
df

     0     1     2
0  0.0  0.70  0.29
1  1.0  0.23  0.55
2  0.0  0.72  0.42
3  0.0  0.98  0.68
4  0.0  0.48  0.39
5  1.0  0.34  0.73
6  0.0  0.44  0.06
7  1.0  0.40  0.74
8  0.0  0.18  0.18
9  1.0  0.53  0.53

In [5]:
classes = np.array(df[0])
features = np.array(df.drop([0], axis=1))

In [14]:
clf = SVC(C = 100000, kernel='linear', random_state=241)
clf.fit(features, classes)
sorted(clf.support_ + 1)

[4, 5, 10]